<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>iot.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CListServlet</servlet-name>
        <servlet-class>iot.controller.CListServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>iot.controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustServlet</servlet-name>
        <servlet-class>iot.controller.SearchCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustRecordServlet</servlet-name>
        <servlet-class>iot.controller.EditCustRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustRecordServlet</servlet-name>
        <servlet-class>iot.controller.DeleteCustRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustRecordServlet</servlet-name>
        <servlet-class>iot.controller.UpdateCustRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustRecordServlet</servlet-name>
        <servlet-class>iot.controller.AddCustRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToAddCustServlet</servlet-name>
        <servlet-class>iot.controller.ToAddCustServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CListServlet</servlet-name>
        <url-pattern>/CListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustServlet</servlet-name>
        <url-pattern>/SearchCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustRecordServlet</servlet-name>
        <url-pattern>/EditCustRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustRecordServlet</servlet-name>
        <url-pattern>/DeleteCustRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustRecordServlet</servlet-name>
        <url-pattern>/UpdateCustRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustRecordServlet</servlet-name>
        <url-pattern>/AddCustRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToAddCustServlet</servlet-name>
        <url-pattern>/ToAddCustServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
